<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de mot de passe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styl.css') }}">
</head>
<body>
    <p>Bonjour,</p>
    <p>Pour réinitialiser votre mot de passe, cliquez sur le lien suivant :</p>
    <p><a href="{{ reset_link }}">{{ reset_link }}</a></p>
    <p>Si vous n'avez pas demandé cette réinitialisation, ignorez cet email.</p>
</body>
</html>
